'use client';

import { Card } from '@/shared/ui/card';
import { {{pascalCase name}} } from '../model/{{kebabCase name}}.schema';

type {{pascalCase name}}CardProps = {
  {{name}}: {{pascalCase name}};
};

export function {{pascalCase name}}Card({ {{name}} }: {{pascalCase name}}CardProps) {
  return (
    <Card>
      <div>{ {{name}}.id }</div>
    </Card>
  );
}
